<% include ../partials/header %>

  <body>
    <div class="container">
      <h1>Dice Roll App</h1>
      <hr>
      <div id="roller">
        <button class="btn btn-primary" id="add">Add Dice!</button>
        <button class="btn btn-success" id="roll">Roll Dice!</button>
        <div class="dice"></div>
      </div>
    </div>
  </body>
  <% include ../partials/footer %>
